# Local .terraform directories
 **/.terraform/*

#  Ignore variables files
 *.auto.tfvars

#  Ignore override files
 *.tfoverride

#  Ignore environment-specific files
 .envrc

#  Ignore CLI configuration files
 .terraformrc
 terraform.rc
examples/gpu_node_pool/terraform.tfstate
examples/gpu_node_pool/terraform.tfstate.backup
examples/gpu_node_pool/.terraform.lock.hcl
examples/gpu_node_pool/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/darwin_arm64/LICENSE.txt
examples/gpu_node_pool/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/darwin_arm64/terraform-provider-google_v5.45.2_x5
examples/gpu_node_pool/.terraform/providers/registry.terraform.io/hashicorp/google/6.21.0/darwin_arm64/LICENSE.txt
examples/gpu_node_pool/.terraform/providers/registry.terraform.io/hashicorp/google/6.21.0/darwin_arm64/terraform-provider-google_v6.21.0_x5
examples/gpu_node_pool/gcp-key.json
examples/gpu_node_pool/.terraform/modules/modules.json
examples/gpu_node_pool/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.35.1/darwin_arm64/terraform-provider-kubernetes_v2.35.1_x5
examples/gpu_node_pool/terraform.tfstate.d/demo-cluster3/terraform.tfstate
examples/gpu_node_pool/terraform.tfstate.d/demo-cluster3/terraform.tfstate.backup
examples/gpu_node_pool/terraform.tfstate.d/new-cluster/terraform.tfstate
examples/gpu_node_pool/terraform.tfstate.d/new-cluster/terraform.tfstate.backup
examples/gpu_node_pool/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/darwin_arm64/terraform-provider-helm_v2.17.0_x5
